<h3>Add Category</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group" hidden> <!--form-group is angular form class-->
        <label class="form-label" for="id">Id</label><!--form-label is bootstrap form class-->
        <input class="form-control" type="number" id="id" formControlName="id">
    </div>
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input class="form-control"type="text" id="name" formControlName="name">
        <div *ngIf="form.hasError('required','name') && (form.controls['name'].touched ||
        form.controls['name'].dirty)" class="alert alert-danger  " role="alert">
        Name is Required.</div>
    </div>
    <div><br>
        <input class="btn btn-primary" [disabled]="form.invalid" type="submit" value= "Add Category">
    </div>
</form>
